.dataTables_wrapper .row {
	margin-top: 10px;
}

.dataTables_length label {
	font-weight: normal;
}

.dataTables_length select {
	margin-left: 5px;
	margin-right: 5px;
}

.dataTables_filter label {
	font-weight: normal;
}

.dataTables_filter input {
	margin-left: 5px;
}
